@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-lt-std-6");
header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  box-sizing: border-box;
  width: 1640px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 216px 1fr;
  height: 216px; }
  header .header-logo img {
    width: 100%; }
  header .two-section {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: -2px; }
    header .two-section .menu-icon {
      display: none; }
    header .two-section .head-links {
      display: flex;
      align-items: center; }
      header .two-section .head-links-item {
        display: flex;
        align-items: center; }
        header .two-section .head-links-item-link:last-child {
          margin-right: 172px; }
        header .two-section .head-links-item-link {
          white-space: nowrap;
          width: 100%;
          padding: 10px;
          margin-right: 37px;
          font: 400 20px/27px "Montserrat";
          color: #fff; }
          header .two-section .head-links-item-link.active::after {
            width: 100%; }
          header .two-section .head-links-item-link::after {
            content: '';
            width: 0px;
            height: 2px;
            display: block;
            background: white;
            transition: 300ms; }
          header .two-section .head-links-item-link:hover::after {
            width: 100%; }
          header .two-section .head-links-item-link.active-alink {
            color: #d8232a; }

.dropbtn {
  font: 400 20px/27px "Montserrat";
  color: #fff; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.header-box-search.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all 0.3s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)); }
.header-box-search {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11; }
  .header-box-search-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 536px;
    border-bottom: 1px solid #fff;
    z-index: 99; }
    .header-box-search-item .search-icon {
      float: right;
      cursor: pointer; }
    .header-box-search-item .search-input {
      width: 80%;
      font: normal normal normal 20px/27px 'Montserrat';
      background-color: transparent;
      color: #fff;
      border: none; }
    .header-box-search-item input:focus {
      outline: none; }

.header-sign {
  position: relative; }

.headline-pic {
  position: relative;
  padding: 0;
  margin-top: -7px;
  width: 100%;
  height: 318px;
  background: transparent url("../image/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .headline-pic .chapter {
    text-align: center;
    margin-top: 160px;
    cursor: default; }
    .headline-pic .chapter h1 {
      color: rgba(0, 0, 0, 0);
      text-shadow: 0 0 1px #fff;
      text-align: left;
      font: normal normal bold 80px/96px 'Helvetica Neue LT Std';
      letter-spacing: 0px;
      text-transform: uppercase;
      opacity: 0.36; }
    .headline-pic .chapter h2 {
      color: #fff;
      font: normal normal bold 50px/60px Helvetica Neue LT Std; }

@media (max-width: 1700px) {
  header,
  footer {
    padding: 0 36px; } }
@media (max-width: 1500px) {
  header {
    grid-template-columns: 137px 1fr !important;
    height: 146px; }
    header .two-section {
      height: 45%; }
      header .two-section .head-links a {
        font: 400 16px/24px "Montserrat"; } }
@media (max-width: 1024px) {
  header,
  footer {
    padding: 0 4px; }

  header .two-section .head-links-item-link:last-child {
    margin-right: 42px; } }
@media (max-width: 900px) {
  header {
    grid-template-columns: 96px 1fr !important;
    height: 108px; }
    header .two-section {
      border-right: none; }
      header .two-section .head-links a {
        font: 400 14px/16px "Montserrat"; }
        header .two-section .head-links a:first-child {
          border: none; }
    header .two-section .head-links-item-link {
      margin-right: 17px; } }
@media (max-width: 764px) {
  .headline-pic .chapter h1 {
    font: normal normal bold 62px/26px "Helvetica Neue LT Std";
    opacity: 0.23; }
  .headline-pic .chapter h2 {
    font: bold 36px/40px "Helvetica Neue LT Std"; }

  header .two-section .head-links {
    flex-direction: column;
    position: absolute;
    background: #2b2b2b;
    padding: 0 18px;
    right: 0px;
    top: 48px;
    display: none;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
    header .two-section .head-links-item {
      flex-direction: column; }
      header .two-section .head-links-item-link {
        margin: 0; }
    header .two-section .head-links a {
      border: none;
      padding: 11.5px 10px;
      border-bottom: 1px solid #aaaaaa !important;
      width: 100%;
      text-align: center; }
    header .two-section .head-links.active-head {
      display: flex; }

  header .two-section .head-links-item-link:last-child {
    margin-right: 0px; }

  header .two-section {
    border: none; }

  header .two-section .menu-icon {
    width: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer; }
    header .two-section .menu-icon div {
      margin-top: 7px;
      width: 100%;
      height: 2px;
      background: #fff;
      border-radius: 8px; }
      header .two-section .menu-icon div:nth-child(2) {
        width: 60%; }
      header .two-section .menu-icon div:nth-child(3) {
        width: 80%; }

  header .two-section .head-links-item-link.active {
    color: #d8232a; }

  header .two-section .head-links-item-link.active::after {
    display: none; } }
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0; }

html:focus-within {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  background: url("../image/original.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.signIn {
  display: none; }

.chapter {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 190px;
  cursor: default; }
  .chapter h1 {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 1px #fff;
    font: normal normal bold 80px/96px "Helvetica Neue LT Std";
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 0.32; }
  .chapter h2 {
    display: block;
    color: #fff;
    font: bold 50px/60px "Helvetica Neue LT Std";
    text-transform: uppercase;
    padding-top: 66px; }

.form-content {
  margin: 49px auto 120px auto;
  max-width: 100%;
  width: 570px;
  height: auto;
  background: #ffffffcb 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029; }
  .form-content h2 {
    padding-top: 32px;
    text-align: center;
    font: 600 30px/50px "Montserrat";
    color: #010101; }
  .form-content .form-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    width: 100%;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029; }
    .form-content .form-bottom a {
      text-decoration: underline;
      font: normal normal bold 12px/14px Arial;
      color: #68b4ff; }

.innerform {
  width: 100%;
  box-sizing: border-box;
  padding: 34px; }
  .innerform input {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #b1b1b129;
    border-radius: 5px;
    font: 400 15px/19px "Montserrat";
    color: #222222;
    padding: 12px 15px;
    height: 43px; }
  .innerform .dropdown-console {
    position: relative; }
    .innerform .dropdown-console .selected {
      position: relative;
      margin-top: 10px;
      box-sizing: border-box;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 10px #b1b1b129;
      border-radius: 5px;
      font: normal normal normal 15px/19px "Montserrat";
      color: #d8232a;
      padding: 12px 15px;
      height: 43px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px; }
      .innerform .dropdown-console .selected p {
        text-transform: capitalize;
        color: #2b2b2b; }
      .innerform .dropdown-console .selected .dropdown-img {
        position: absolute;
        right: 30px;
        top: 12px; }
    .innerform .dropdown-console .dropdown-content {
      display: none;
      z-index: 99; }
      .innerform .dropdown-console .dropdown-content .select-new {
        box-sizing: border-box;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 5px #b1b1b129;
        border-radius: 1px;
        font: normal normal normal 15px/19px "Montserrat";
        padding: 12px 15px;
        height: 43px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px; }
        .innerform .dropdown-console .dropdown-content .select-new:last-child {
          border-radius: 0 0 8px 0px; }
        .innerform .dropdown-console .dropdown-content .select-new p {
          color: #bcbcbc;
          text-transform: none; }
        .innerform .dropdown-console .dropdown-content .select-new img {
          filter: grayscale(100%);
          width: auto;
          max-height: 22px; }
    .innerform .dropdown-console .selected {
      margin-top: 0;
      margin-bottom: 20px; }
      .innerform .dropdown-console .selected p {
        color: #2b2b2b; }
    .innerform .dropdown-console .dropdown-content {
      position: absolute;
      top: 44px;
      width: 100%; }
  .innerform .robot-stack {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .innerform .robot-stack .checkbox {
      margin-left: 15px;
      display: flex;
      align-items: center;
      column-gap: 15px; }
      .innerform .robot-stack .checkbox p {
        font: normal normal normal 15px/19px "Montserrat";
        color: #808080; }
    .innerform .robot-stack button {
      border: none;
      outline: none;
      width: 140px;
      height: 43px;
      background: #000000 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #00000029;
      border-radius: 5px;
      font: normal normal normal 15px/19px "Montserrat";
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s ease; }
      .innerform .robot-stack button:hover {
        opacity: 0.8; }
  .innerform .sign-here {
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .innerform .sign-here p {
      text-align: center;
      font: normal normal normal 15px/19px "Montserrat";
      color: #2b2b2b; }
      .innerform .sign-here p a {
        color: #f2186a; }

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .welcome-content h2 {
    margin-top: 50px; }
  .welcome-content p {
    margin-top: 20px;
    display: block;
    width: 302px;
    text-align: center;
    font: normal normal normal 15px/19px "Montserrat";
    color: #2b2b2b; }
  .welcome-content button {
    margin: 37px auto 56px auto;
    border: none;
    outline: none;
    width: 183px;
    height: 43px;
    background: #000000 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 5px;
    font: normal normal normal 15px/19px "Montserrat";
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease; }
    .welcome-content button:hover {
      opacity: 0.8; }

.item-check {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  width: 24px;
  height: 24px; }
  .item-check .check_the_heart {
    margin: 4px 0px 0 0;
    outline: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 16px;
    color: #404040;
    font: 400 16px/16px "futura-pt-book";
    position: absolute;
    opacity: 1;
    cursor: pointer;
    z-index: 19; }

.sign-chapter .chapter {
  margin-top: 0; }

.sign-serch-box {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100vh; }

@media (max-width: 1390px) {
  .chapter h1 {
    font: normal normal bold 62px/59px "Helvetica Neue LT Std"; } }
@media (max-width: 600px) {
  .form-content {
    width: 98%; }

  .chapter h1 {
    font: normal normal bold 56px/65px "Helvetica Neue LT Std"; } }
@media (max-width: 450px) {
  .innerform {
    padding: 16px; }

  .innerform .robot-stack {
    flex-direction: column; }

  .innerform .sign-here p {
    font: normal normal normal 13px/16px "Montserrat"; } }
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.09);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 3px; }

/*# sourceMappingURL=sign.css.map */
